[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
sphinx-bootstrap-theme = "0.8.1"
sphinx-copybutton = "0.5.0"
sphinx-fontawesome = "0.0.6"
sphinxcontrib-fulltoc = "1.2.0"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.7"
